 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body {
   font-family: "Roboto", sans-serif;
   ;
 }

 :root {
   --bluecolor: #2487ce;
 }

 nav {
   position: fixed;
   background-color: #fff;
   z-index: 997;
   top: 0;
   padding: 5px 0px;
   margin: 0px;
   opacity: 3;
   color: black;

 
   box-shadow: 0px 2px 5px rgba(0, 0 ,0 ,0.1);
   
   width:  100% ;
 }

  

 .main{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
 }

 .rightcon {
  padding-top: 7px;
   display: flex;
   gap: 30px;
   /* padding-right: 33px; */
 }

 .rightcon h5 {
   font-weight: 300;
   font-size: 16px;

 }

 .one h2 {
   font-weight: 300;
   font-size: 34px;
 }

 .btn-primary {
   border: 1px solid white;
   background-color: var(--bluecolor);
   text-align: center;
   padding: 7px 15px;
   padding-bottom: -4px;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 8px 20px rgba(0 0 0 0.5);
 }
 .btn-primary{
  border: none;
 }

 .btn-primary:hover {
   background-color: #99cef4;
 }

 #bottom {
  padding: 120px 0px;

   background-image: url("../images/hero-bg-abstract.jpg");
   /* height: 900px; */
   width: 100%;
   object-fit: cover;
   height: 850px;
   /* opacity: 0.5; */
   /* position: relative; */


 }

 .img {
   margin-top: 80px;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .img h1 {
   font-size: 56px;
   font-weight: 700;
   line-height: 72px;
   margin: 0px;
 }

 .title h4 {
   font-size: 16px;
   font-weight: 700;
 }
 

 .img p {
   font-size: 22px;
   margin: 10px 0px 0px;
   color: #444444;
 }

 .img .btn-primary {
   padding: 15px 48px;
   margin: 20px 0px;
 }

 .row {
   gap: 10px;
   flex-wrap: nowrap;
   margin-top: 60px;
   margin-bottom: 50px;
   align-items: center;
   justify-content: center;
 }

 .col-md-3 {
   box-shadow: 0 0 3px 0 rgba(255, 254, 254, 0.1);
   padding: 30px 40px;

   background-color: #fff;
   transition: all 1s ease;
   /* height: 100px; */
   width: 300px;
   /* height: 100%; */

 }

 .icon-box {
   padding: 10px 0px;
   /* height: 150px; */
 }

 .icon i {
   font-size: 40px;
   color: var(--bluecolor);
   margin-bottom: 10px;
 }
   #bottom .col-md-3{
    transition: all 1s ease;
   }

  #bottom .col-md-3:hover {
   box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);


   transform: translate(-30px 0px) scale(1.02);
   height: 310px;
   justify-content: center;
   align-items: center;
 }

 .icon-box:hover h4 {
   color: var(--bluecolor);

 }



 /* About section styling */
 #about {
   padding: 100px 0px;
 }

 .mainheading h2,
 .aboutpara {
   text-align: center;
   justify-content: center;
   align-items: center;
 }

 .mainheading h2 {
   text-transform: uppercase;
   margin-bottom: 10px;
 }

 .mainheading .aboutpara {
   color: #444444;
   margin-bottom: 40px;
 }

 .abouflex {
   width: 100%;
   display: flex;
   /* justify-content: space-around; */
   gap: 100px;
   padding: 20px 40px;

 }

 .para {
   padding: 0px;
 }

 .para p {
   margin-bottom: -10px;
 }

 .para ul {
   padding-left: 0rem;
   display: inline;
   padding: 0px 20px;
 }

 .para ul li {
   /* display: flex; */
   list-style: none;
   text-decoration: none;
   align-items: center;
   white-space: nowrap;


 }

 .para ul li i {
   color: var(--bluecolor);
 }

 .pararight {
   margin-top: 5px;
 }

 .pararight .btn-primary {
   padding: 5px 30px;
   color: white;
   text-align: center;
 }

 .pararight i {
   display: inline-block;
   transition: transform 0.3s ease;
 }

 .btn-primary:hover i {
   transform: translateX(5px);
 }

 #about .row {
   padding: 50px;
   background-color: #f6fafd;
   margin: 0px auto;
   /* align-items: center !important;
    justify-content: center !important; */
   /* color:#f6fafd ; */

 }

 #about .row .col-md-3 {
   background-color: #f6fafd;
   margin: 0px auto;
   text-align: center;
   justify-content: center;
   align-items: center;


   /* padding: 0px; */

 }

 #about .row .col-md-3 h2 {
   color: var(--bluecolor);
   font-size: 52px;
 }

 #about .row .col-md-3 p {
   color: #444444;
   font-size: 15px;
   text-align: center;
   align-items: center;
 }

 .imgflex {
   display: flex;
   padding: 30px;
   /* gap: 20px; */
 }

 .img img {
   width: 546px;
   height: auto;
   /* flex: 1; */
 }

 .rightimg {
   justify-content: center;
   align-items: center;
   margin-top: 75px;
   padding-right: 90px;
   padding-left: 50px;
   line-height: 1.76;
   height: 406px;
   max-width: fit-content;

   flex: 1;
 }

 .rightimg ul {
   white-space: wrap;
   list-style: none;
   /* line-height: 1; */
 }

 .rightimg ul li {
   margin-bottom: 10px;
 }

 .rightimg ul li i {
   color: var(--bluecolor);
   font-size: 18px;
 }

 .col-md-2 img {
   padding: 20px 40px;
   max-width: 90%;
   transition: all0.3s ease;
   filter: grayscale(100);
   opacity: 0.5;
   text-align: center;
   justify-content: center;
   align-items: center;

 }
 .col-md-2 img:hover{
   filter: grayscale(0);
 }
 .img-fluid{
  height: auto;
 }

 #testimonial{
  padding: 40px 0px;
 }
  .testul{
    background-color: #f5f0f0;
   padding: 20px 20px 60px 17px;
    width: 300px;
    height: 300px;
    flex: 1;
    margin-right: 20px;
  }
   .testul i{
    display: inline;
    color: var(--bluecolor);
    font-size: 25px;
   }
 .col-md-4 .imag img{
  height: 80px;
  width: 80px;
  border-radius: 100%;
 
 }
 .col-md-4 .imag{
   position: relative;
  top: -42px;
  left: 20px;
 }
 .circle{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--bluecolor);

 }

 /* Services section */
 #Services{
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #f6fafd;
 }
  #Services .col-md-4{
    height: 343px;
    width: 356px;
    background-color: #fff;
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    padding-top: 80px;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* padding-bottom: 20px; */

     /* padding: 80px 50px ; */

  }
  #Services .col-md-4 i{
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all 1s ease;
    position: relative;
  }
   #Services .col-md-4:hover .iconhgfr i{
      color: white !important;
      
    }
     #Services .col-md-4:hover .icon1 i{
    background-color: #0dcaf0 !important;
      
    }
    #Services .col-md-4:hover .icon2 i{
      background-color: #fd7e14;
    }
    #Services .col-md-4:hover .icon3 i{
      background-color: #20c997;
    }
    #Services .col-md-4:hover .icon4 i{
      background-color: #df1529;
    }
     #Services .col-md-4:hover .icon5 i{
      background-color: #6610f2;
    }
     #Services .col-md-4:hover .icon6 i{
      background-color: #f3268c;
    }
  .lotrem h4{
    margin-top: 20px;
  }
   
  
 
 .iconhgfr i{
    padding: 25px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    border-radius: 50% 30% 70% 40% / 40% 60% 30% 60%;
  }
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
  .assets{
    padding: 100px 0px;
    background-color: var(--bluecolor);
    margin-left: 0px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .button{
background-color: var(--bluecolor);
  }
   .bgyu{
    color: white;
    padding: 12px 55px;
    border: 2px solid white;
background-color: var(--bluecolor);
transition: all 0.5s ease;

    
  
  }
 #Services  .btn-outline-secondary:hover{
    background-color: #8ac7f3;
  }
  #portfolio{
    padding: 40px 0px;
  }
  .bgyu{
    border: 1px solid white !important;
  }
  .app{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #444444;
  }
 .mainmasory{
  width: 1120px;
  height: 1220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  column-gap: 10px;
  margin-bottom: 0px;
  
 }
 .mansory{
  position: relative;
 }
 .mainhyt1{
  position: absolute;
  justify-content: space-between;
  top: 301px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
  background-color: #fff;
  width: 100%;

 }
 .mainhyt2{
  position: absolute;
 justify-content: space-between;
  top: 175px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
  background-color: #fff;
  width: 100%;

 }
  .mainhyt3{
  position: absolute;
 justify-content: space-between;
  top: 138px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
    background-color: #fff;
  width: 100%;

 }
  .mainhyt4{
  position: absolute;
   justify-content: space-between;
  top: 477px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
  background-color: #fff;
  width: 100%;

 }
  .mainhyt5{
  position: absolute;
 justify-content: space-between;
  top: 480px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
  background-color: #fff;
  width: 100%;

 }
  .mainhyt6{
  position: absolute;
 justify-content: space-between;
  top: 174px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
    background-color: #fff;
  width: 100%;

 }
 .mainhyt7{
  position: absolute;
 justify-content: space-between;
  top: 173px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
  background-color: #fff;
  width: 100%;

 }

  .mainhyt8{
  position: absolute;
  justify-content: space-between;
  top: 170px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
    background-color: #fff;
  width: 100%;

 }
  .mainhyt9{
  position: absolute;
 justify-content: space-between;

  top: 176px;
  display: flex;
  opacity: 0;
  transition: all 1s ease;
  background-color: #fff;
  width: 100%;

 }
 .rightcont i{
  align-items: center;
  padding-top: 15px;
 }
 .mansory :hover .mainhyt{
  opacity: 1;
 }
 .masonry5{
  margin-top: -117px !important;
  
 }
 .leftrgh{
  padding: 0px 10px;
 }
 .masonry6{
  margin-top: 10px;
 }
 .masonry4{
  margin-top: -156px;
 }
 .item img{
  width: 100%;
 }
 .masonry7{
  display: block;
  margin-top: 10px;
 }
 .masonry8{
    display: block;
  margin-top: 10px;
 }
 .masonry9{
  display: block;
  margin-top: 10px;
 }



/* team styling */
#team{
  padding: 40px 0px;
  background-color:#f6fafd;


}


.hacol:hover .iconteam {
  opacity: 1;
  

}
.iconteam {
  display: flex;
  margin: 0px auto;

  justify-content: center;
  opacity: 0;
  position: relative;
  top: -160px;
  transition: all 0.5s ease;
  
}
.iconteam i{
  margin-right: 5px;
}
.hacol{
  border-radius: 5px;
}
.hacol img{
  width: 100%;
}

.headswe{
  padding: 20px 30px;
  /* width: 220px; */
  background-color: #f1f1f1;
  box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.5); 

}


.iconteam i{
  display: flex;
  gap: 3px;
font-size: 18px;
color: #444444;

padding:5px 10px;
/* margin: 0px auto; */
justify-content: center;
text-align: center;
background-color: white;
border-radius: 5px;
}

/* Pricing section styling */
#pricing{
  padding: 30px 0px;
}
                 
    .medium {
      height: 544px;
      width: 375px;
      padding: 30px;
  box-shadow:0 4px 10px 2px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;

    } 
     .medium .btn-outline-secondary{
      background-color: #ffff;
      border: 1px solid #444444;
     }
    .large{
      height: 599px;
      width: 383.44px;
      padding: 30px;
      background-color: var(--bluecolor);
      color: white;
    }
      .large .btn-outline-secondary{
        border: 1px solid #444444;
      }
     .large h4{
      font-size: 40px;
     } 
    .bgtyu{
      gap: 0px;
    }  
    .medium{
      /* margin-top: 10px;
      margin-bottom: 50px; */
    }
     .medium h5{
      margin-bottom: 20px;

     } 
      .medium h4{
        font-size: 40px;
        color: var(--bluecolor);
      }
     .medium h4 span{
      /* padding-left: 40px; */
      font-size: 16px;
      color: #444444;
     }
     .teamse{
      margin-bottom: 30px;
     }
     ul li{
      list-style: none;
     } 
     .bgtyu ul li{
      margin-bottom: 25px;
      font-size: 18px;
     } 
     
    .mkiuyt{
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      text-align: center;
     } 
     .mkli{
      padding: 10px 40px;
      transition: all 1s ease;
     }
     .bhytr{
      margin-top: 70px;
     }   
       .mkiuyt:hover  .mkli {
        background-color:var(--bluecolor) ;
       } 
       .mnouyt {
        background-color: var(--bluecolor);
       } 
        .mkiuyt:hover  .mnouyt{
          background-color: #81c5f5;
        }         
           
/* frequently section */
#frequently{
  background-color: #f6fafd;
 
  padding: 50px 0px;
}
.mainfrequent{
  background-color: var(--bluecolor);
  margin: 0px auto;

padding: 20px 30px;
  height: 124px;
  width: 926px;
  color: white;

}
.accordion-flush{
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  
}


.accordion-header:hover{
color: var(--bluecolor);
}
.accordion-item{
  margin: 0px auto;
  width: 926px;
  margin-bottom: 20px;
}
.accordion-body{
  background-color: var(--bluecolor);
  color: white;
}
.accordion-button{
  border: none !important;

}
.accordion-button::after{
  display: none !important;
}
.accordion-button .icon{
  margin-left: auto;
  /* font-weight: bold; */
  font-size: 20px;
  transition: all 0.3s ease;
  transform: rotate(0deg);
}
.accordian-item:not(.collapsed){
  background-color: var(--bluecolor);
}
.accordion-button:not(.collapsed) .icon{
  transform: rotate(270deg);
  opacity: 0;
  background-color: var(--bluecolor);
}
.accordion-button:hover{
  color: var(--bluecolor);
}
.accordion-flush .accordian-item .accordian-button{
  border: none;
  box-shadow: none;
}
.accordion-flush .accordian-item .accordian-button:focus{
  box-shadow: none;
}
.accordion-flush .accordian-button:not(.collapsed){
  background-color: var(--bluecolor) !important;

}
.accordion-button:not(.collapsed){
 
  opacity: 0;
  transition: all 0.3s ease;
}

.accordion-button{
  border-radius: 10px;
}

.hjiop{
  font-size: 18px;
  transition: all 1s ease;
  /* font-weight: 800; */
}


.hjiop:hover{
  opacity: 0;
}







/* contact styling */
#contact{
  margin-top: 50px;
  /* padding: 300px 0px 0px 0px; */
}

.input{
  margin-bottom: 19px;
  margin-top: 70px;
}
.myinput{
  padding: 7px;
  padding-right: 139px;
  margin-right: 20px;
}
.vgytr{
  width: 760px;
}

.mjuytr{
  justify-content: space-between;
 width: 1170px;
}
.mahuyt >div span p{
  font-size: 14px;
}
.nmjuy i{
 position: relative;
    top: 3px;
  display: inline-block;
  font-size: 25px;
  gap: 50px;
  padding: 5px;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background-color: var(--bluecolor);
  align-items: center;
  text-align: center;
  margin-right: 20px;
  vertical-align: middle;
  color: white;
}
textarea{
  border: 1px solid #444444;
  color: #444444;
}
.nmjuy{
  width: 380px;
}
.mahuyt p {
    position: relative;
    bottom: 19px;
}


.text{
  margin-bottom: 19px;
}
.Tyur{

  padding: 10px 163px;
  padding-left: 5px;
  gap: 20px;
  margin-right: 20px;
  border: 1px solid #444444;
  color: #444444;
}
.bvcxde{
  display: block;
  width: 714px;
  padding: 10px 0px;
  padding-left: 5px;
}
.mjhfr{
  width: 760px;

}
.mahuyt i{
  margin-top: 20px;
}
.mahuyt span{
  /* margin-bottom: 3px !important; */
}
.mahuyt i span p{
  vertical-align: middle;
}
.mahuyt p{
  display: inline-block;
  padding-top: -10px;
  
      padding-left: 67px;
    font-size: 14px;
}
.subject{
  width: 91.5%;
}
.subjext{
  margin-bottom: 19px;
  width: 100%;
}
.lkjhgf{
  justify-content: center;
  margin: 40px auto;
  margin-left: auto;
  margin-block-start: auto;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.textarea{
  padding: 10px;
  border: 1px solid #444444;

}
.subject{
  padding: 10px;
  color: #444444;
}
.Message{
      position: relative;
    top: -151px;
    left: 9px;
    font-size: 16px;
    color: #444444;
}

/* footer */
  footer{
  padding: 50px 0px;
  background-color: #f6fafd;

}footer p{
  color: #444444;
  font-size: 14px;
}
footer .col-md-3{
  background-color:#f6fafd ;
}
.footerflex{
  justify-content: flex-start;
  
}
.firsffoter h4{
text-align: start;
margin-bottom: 30px;
font-size: 30px;
}
.footericon i{
  color: var(--bluecolor);
  border: 1px solid var(--bluecolor);
  padding: 10px;
  font-size: 20px;
  margin-right: 5px;
}

a{
  text-decoration: none;
}
.footericon a:hover i{
  background-color: var(--bluecolor);
  color: white;
}
.parafooter{
  color: #444444;

  padding-right: 91px;
  margin-bottom: 20px;
  
 
}
.mainfooter{
  color: white;
  background-color: var(--bluecolor);
  width: 1140px;
  padding: 10px 0px;
text-align: center;
justify-content: center;
  margin: 0px auto;

}
  .mainfooter p{
    color: white;
  }

 .btn-outline-secondary{
  border: none;
 }  

    